/* nav */  


.menu{
	  
	height: 70px;
    background-color: #000000;
}

.nav {  
    position: relative;  
    margin-top: 22px;
    
}  
.title{
	color: white;
}
.nav ul {  
    margin: 0;  
    padding: 0;  
}  
.nav li {  
    margin: 0 5px 10px 0;  
    padding: 0;  
    list-style: none;  
    display: inline-block;  
}  
.nav a {  
    padding: 3px 12px;  
    font-size:25px;
    color: #FFFFFF;
    text-decoration: none;  
    
    line-height: 100%;  
}

nav a:hover {  
    color: #FF0000;  
}  
.nav .current a {  
    background: #999;  
    color: #fff;  
    border-radius: 5px;  
}
 
/*响应*/
@media screen and (max-width: 600px) {  
    nav {
        position: relative;  
        min-height: 40px;  
    }
 

    .nav ul {  
        width: 100px;  
        float:right ;      
        border: solid 2px #aaa;  
        background-color: #000000; 
        border-radius: 5px;   
    } 
    .title{
    	display: none;
    } 
    .nav li {  
        display: none; /* hide all <li> items */  
        margin: 0;  
    }  
    .nav .current {  
        display: block; /* show only current <li> item */  
    }  
    .nav a {  
        display: block;
        padding: 5px 5px 5px 20px;  
        text-align: left;  
    }  
    .nav .current a {  
        background: none;  
        color: #FFFFFF;  
    }  
  
    /* on nav hover */  
    .nav ul:hover {  
        background-image: none;  
    }  
    .nav ul:hover li {  
        display: block;  
        margin: 0 0 5px;  
    }  
  
  
    /* right nav */  
    .nav.right ul {  
        left: auto;  
        right: 0;  
    }  
  
    /* center nav */  
    .nav.center  {  
        left: 50%;  
        margin-left: -90px;  
    }
    /*横幅响应*/
   .show{
   	width: 354px;
   	height:180px;
   }
   .show .showimg{
    	background-image: url(../img/normalsmall.jpg);
    	width: 100%;
    	height: 200px;
    }
    .show .showimg .showimgPic{
    	display: none;
    }
  .pro{
  	height: 1000px;
  }
  .game,.map{
	margin-right: 34px;
}
}
/*项目部分响应*/


/*平板响应*/
@media screen and (max-width: 768px) { 
    .show .showimg .showimgPic .content .txt h1{ display: none ;}
   	.show .showimg .showimgPic .content .txt p{display: none; color: white;}
   	.map,.game,.resume{
   		margin: 0 auto !important;
   		
   	}
   
}	
/*横幅部分*/
.show{width:100%; overflow:hidden;margin:0 auto;}
.show .showimg{width:100%;height:600px;position:relative;margin:0 auto; overflow:hidden;}
.show .showimg .showimgPic{width:100%;height:600px;margin-left:20px ; position:absolute; background:url(../img/normal.jpg) no-repeat;}
.show .showimg .showimgPic .content{width:200px;height:400px;margin-right: 50px; float:left;margin-top: 120px; position:relative;overflow:hidden;}
.show .showimg .showimgPic .content .txt h1{ color: #000000; font-size:35px ;}
.show .showimg .showimgPic .content .txt .r{margin-right: 60px;}
.show .showimg .showimgPic .content .txt p{color:#000000;margin-top:15px;padding-top:5px;border-top:1px solid #999999;font-family: 微软雅黑;}
#codeimg{
	float: right;
} 


/*水平线*/
.level{
	width: 100%;
	height: 8px;
	color: #999999;
	margin-bottom: 0px;
	margin-top: 0px;
}
.project{
	min-height: 600px;
	background-color: powderblue ;
	
}
.pro{	
	margin:0 auto;
	width: 71%;
	min-height: 500px;
}
.pro_title{
	font-family: 宋体;
	text-align: center;
	padding-top: 60px;
	margin-top: 0px;
}
.level_2{
	width: 60%;
	
}
.map,.game,.resume{
	margin-top: 50px;
	padding-left:0px ;
	width: 300px;
	height: 300px;
	border: 8px solid  #FFFFFF;
	border-radius:5px 0;
}
.game,.map{
	margin-right: 34px;
}
.footer{
	
	margin: auto;
	text-align: center;
	width: 100%;	
	background-color: lightslategray;	
	
}
.nav-footer{
	margin: 0 5px 10px 0;  
    padding: 0;  
    list-style: none;  
    
}
.footerli{
	font-size: 20px;
	color: white;
	padding-left: 15px;
	display: inline; 
	
}
.footerli a{
	color: white;
}

