/* nav */  
.menu{
	  
	height: 70px;
    background-color: #000000;
}

.nav {  
    position: relative;  
    margin-top: 22px;
    
}  
.title{
	color: white;
}
.nav ul {  
    margin: 0;  
    padding: 0;  
}  
.nav li {  
    margin: 0 5px 10px 0;  
    padding: 0;  
    list-style: none;  
    display: inline-block;  
}  
.nav a {  
    padding: 3px 12px;  
    font-size:25px;
    color: #FFFFFF;
    text-decoration: none;  
    
    line-height: 100%;  
}

nav a:hover {  
    color: #FF0000;  
}  
.nav .current a {  
    background: #999;  
    color: #fff;  
    border-radius: 5px;  
}  
/*响应*/
@media screen and (max-width: 600px) {  
    nav {
        position: relative;  
        min-height: 40px;  
    }   

    .nav ul {  
        width: 100px;  
        float:right ;      
        border: solid 2px #aaa;  
        background-color: #000000; 
        border-radius: 5px;   
    } 
    .title{
    	display: none;
    } 
    .nav li {  
        display: none; /* hide all <li> items */  
        margin: 0;  
    }  
    .nav .current {  
        display: block; /* show only current <li> item */  
    }  
    .nav a {  
        display: block;
        padding: 5px 5px 5px 20px;  
        text-align: left;  
    }  
    .nav .current a {  
        background: none;  
        color: #FFFFFF;  
    }  
  
    /* on nav hover */  
    .nav ul:hover {  
        background-image: none;  
    }  
    .nav ul:hover li {  
        display: block;  
        margin: 0 0 5px;  
    }  
  
  
    /* right nav */  
    .nav.right ul {  
        left: auto;  
        right: 0;  
    }  
  
    /* center nav */  
    .nav.center  {  
        left: 50%;  
        margin-left: -90px;  
    }  
      
}
/*横幅部分*/  
.code ,.life{
	height: 600px;
}
.show{
	
	height: 600px;
	background-image: url(../img/normal.jpg);
}


.c{ 
	margin-top: 100px;
	width: 250px;
	height: 100px;
	float: right;
	color: #000000;
}
.l{
	margin-top: 100px;
	width: 250px;
	height: 100px;
	float: left;
	color: #000000;
}
h1{
	font-size: 45px;
}
.level{
	margin-top:0px ;
	padding-top: 0px;
	margin-bottom: 0px;
	color: #999999;
}
.project{
	border-top: solid;
	border-top-color:#999999 ;
	width: 100%;
	height: 535px;
	background-color: #AAAAAA;
	
}
.game,.map,.resume{
	width: 320px;
	height: 300px;
	
	border: 8px solid;
	border-color: #FFFFFF ;
}
.game,.resume{
	margin-right:18px ;
}
.pro{
	padding-left: 70px;
	margin-top:210px ;
}
